Add headers for responses

Are there any ways to describe headers of responses?

For example, in case of `201 Created` response it's recommended in [RFC 7231 (Section 6.3.2.)](http://tools.ietf.org/html/rfc7231#section-6.3.2) to add a `Location` header with identifier of the newly created resource.

I was looking for something like _@apiSuccessHeader_ and _@apiErrorHeader_ sections, but it seems that there are no such sections yet. I've also tried to use _@apiHeader_ tag, but apiDoc places this information in the request description section of the resulting document.


Looking forward to this! :+1: 

Is there a timeline for this?

Not a fixed timeline, due the lack of my spare time.
The "Send sample request plugin" is one big block that must completely rebuild.

+1

I've since revised my convention for response status documentation given in the example above.

My motivation was

 * to bring success codes 200/OK, 201/Created, 204/NoContent under the same heading (Success 2xx)
 * to harmonise those with the Error 4xx section

I now use something like:

    /**
     * @api {post} /things Create new thing
     * @apiName    PostThings
     * @apiGroup   Things
     *
     * @apiParam   ...                       [as per get].
     * @apiHeader  Authorization             Basic Access Authentication token.
     * @apiHeader  [Accept=application/json] application/json, application/xml, text/yaml, text/plain.
     * @apiHeader  Content-Type              application/x-www-form-urlencoded.
     * @apiSuccess (Success 2xx) 201/Created Details of newly created thing.
     * @apiError   401/Unauthorized          Invalid basic auth credentials supplied.
     * @apiError   403/Forbidden             Required field [...] omitted.
     */

Other methods have `(Success 2xx) 200/OK`, in order to make the *success* section standard.

This works well enough for me, with the only downside being that the response status codes are labelled 'field' instead of 'status'. I don't have any need for success/error fields, I just report the status and description, but perhaps others do.

Perhaps @apiStatus would be worth considering – `@apiStatus status [description]`, eg

    * @apiStatus 201/Created   Thing successfully created
    * @apiStatus 403/Forbidden Required field [...] omitted.

etc. I don't know how that would integrate with `@apiSuccess`, `@apiError` tags... The proposed `@apiSuccessHeader` seems a little redundant to me, as all 200 codes are defined as 'success', all 400 codes as 'error'. (I just want to document the return status, and `Location` on a 201 seems a bit of a special case).

+1

+1

+1


+1 also "apiErrorHeader" should helpful :)

+1


+1

Yes indeed close issue?

apiErrorHeader would be really useful! Please add this!

Plain text or html pass through of some kind (see https://github.com/apidoc/apidoc/issues/761) would allow you to work around limitations like this.

>  close issue?

Yep!